@import 'variables';
@import '~bootstrap/scss/bootstrap.scss';

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
}

a {
  transition: color 0.25s ease-in-out;
}

.box-shadow,
.paralax-mf,
.service-box,
.work-box {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.box-shadow-a,
.button:hover {
  box-shadow: 0 0 0 4px #cde1f8;
}

.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;

  @include media-breakpoint-up(lg) {
    background-attachment: scroll;
  }
}

.bg-medium {
  background: linear-gradient(90deg, $gray-600 0%, $gray-700 100%);
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.section-wrapper {
  margin-top: 6rem;
}

.ul-resect,
.socials ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
